.bld.row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.bld.row.grow {
  flex: 1 0 auto;
}

.bld.row.shrink {
  flex: 0 1 auto;
}

.bld.row.grow.shrink {
  flex: 1 1 auto;
}

.bld.row.left {
  justify-content: flex-start;
}

.bld.row.right {
  justify-content: flex-end;
}

.bld.row.center {
  justify-content: center;
}

.bld.row > .ui.header {
  margin: 0px !important;
}

.bld.row > .ui.button.basic {
  padding: 0px;
}

.bld.row > .ui.button + .ui.button,
.bld.row > .ui.dropdown + .ui.button,
.bld.row > .ui.dropdown + .ui.dropdown,
.bld.row > .ui.button + .ui.dropdown,
.bld.row > .ui.checkbox + .ui.checkbox {
  margin-left: 16px;
}

@media (max-width: 768px) {
  .bld.row.stacked {
    flex-direction: column;
  }

  .bld.row.stacked > .ui.button + .ui.button,
  .bld.row.stacked > .ui.dropdown + .ui.button,
  .bld.row.stacked > .ui.dropdown + .ui.dropdown,
  .bld.row.stacked > .ui.button + .ui.dropdown,
  .bld.row > .ui.checkbox + .ui.checkbox {
    margin-top: 16px;
    margin-left: 0px;
  }
}
