.Profile {
  display: inline-block;
}

.Profile.inline {
  display: inline;
}

.Profile.inline .bld.avatar-face.inline,
.Profile.inline .bld.logo {
  vertical-align: -4px;
  margin-right: 6px;
}

.Profile.inline .bld.blockie {
  margin-right: 6px;
}

.Profile .bld.logo {
  width: 20px;
  height: 20px;
}

.Profile.large .bld.avatar-face,
.Profile.large .bld.logo {
  width: 32px;
  height: 32px;
}

.Profile.large.inline .bld.blockie {
  vertical-align: -6px;
  margin-right: 12px;
}

.Profile.large .name {
  font-size: 20px;
  line-height: 28px;
}

.Profile.huge .bld.avatar-face,
.Profile.huge .bld.logo {
  width: 48px;
  height: 48px;
}

/* .Profile.inline .bld.avatar-face,
.Profile.inline .bld.logo {
  vertical-align: -8px;
  margin-right: 10px;
} */

.Profile.massive .bld.avatar-face,
.Profile.massive .bld.logo {
  width: 180px;
  height: 180px;
}
