.bld.tabs {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
  border-bottom: 1px solid #6E7198;
}

.bld.tabs.fullscreen {
  border-bottom: 1px solid transparent;
  margin-bottom: 0px;
}

.bld.tabs .bld.tabs-left {
  flex: 1 0 auto;
}

.bld.tab {
  position: relative;
  display: inline-block;
  padding: 12px 0px;
  padding-right: 32px;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.2px;
  cursor: pointer;
  font-weight: 500;
  color: #FEFEFE;
}
.bld.tab.active {
  font-weight: 600;
}

.bld.tab .active-bar {
  position: absolute;
  bottom: -1.7px;
  left: 0px;
  right: 0px;
  border-bottom: 2px solid rgba(243, 78, 78, 1);
  border-radius: 10px;
  z-index: 10;
}

@media (max-width: 768px) {
  .bld.tabs,
  .bld.tabs.fullscreen {
    height: auto;
    margin-top: calc(var(--navbar-margin-bottom) / 2);
    margin-bottom: calc(var(--navbar-margin-bottom) / 2);
  }

  .bld.tab {
    display: block;
    font-size: 15px;
    padding: 0px 0px 0px 16px;
    margin-bottom: 8px;
    border-bottom: none;
  }

  .bld.tab.active {
    border-bottom: none;
    border-left: 2px solid var(--primary);
  }

  .bld.tab .active-bar {
    display: none;
  }
}
