.bld.narrow {
  position: relative;
  width: 944px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  .bld.narrow {
    width: 820px;
  }
}

@media (max-width: 991px) {
  .bld.narrow {
    width: 600px;
  }
}

@media (max-width: 768px) {
  .bld.narrow {
    width: 100%;
  }
}
