.bld.filter {
  font-size: 13px;
  line-height: 18px;
  padding: 5px 12px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.bld.filter + .bld.filter {
  margin-left: 12px;
}

.bld.filter .filter-background {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: var(--secondary-text);
  border-radius: 14px;
  opacity: 0.08;
}

.bld.filter > span {
  position: relative;
  color: var(--secondary-text);
  text-transform: uppercase;
}

.bld.filter.active .filter-background {
  background: var(--primary);
  opacity: 0.16;
}

.bld.filter.active > span {
  color: var(--primary);
}
