.bld.bean {
  display: inline;
  text-overflow: ellipsis;
  overflow: hidden;
  color: inherit;
}
.bld.bean .symbol {
  padding-right: 0.3em;
  display: inline-block;
}

.bld.bean .symbol .ethereum {
  display: inline-block;
  width: 0.8125em;
  height: 0.875em;
  transform: translateY(0.15em);
  background-image: url('../../assets/symbol.svg');
  background-size: cover;
}

.bld.bean + .bld.bean {
  padding-left: 0.3em;
}

.bld.bean.inline {
  font-size: 1em;
}

.bld.bean .matic {
  width: 1em;
  height: 1em;
  background-image: url(../../assets/bean-l2.svg);
  display: inline-block;
  background-size: contain;
  filter: var(--brightness);
  transform: translateY(0.2em);
}
