/* Normal */

.bld.field {
  min-width: 400px;
  position: relative;
}

.bld.field .ui.input {
  width: 100%;
}

.bld.field .ui.input input,
.ui.form .bld.field .ui.input input {
  margin-top: 8px;
  padding: 12px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  border: none;
  border: 2px solid var(--divider);
  border-radius: 0px;
  color: var(--text);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.bld.field .message,
.ui.form .bld.field .message {
  margin-top: 8px;
  color: var(--secondary-text);
  font-size: 15px;
}

/* Loading */

.bld.field .ui.input.loading > i.icon,
.ui.form .bld.field .ui.input.loading > i.icon {
  opacity: 1;
  /* height: 36px; */
}
.bld.field .ui.input.loading > i.icon:before,
.ui.form .bld.field .ui.input.loading > i.icon:before {
  border-color: var(--divider);
  border-width: 2px;
}
.bld.field .ui.input.loading > i.icon:after,
.ui.form .bld.field .ui.input.loading > i.icon:after {
  border-color: var(--primary) transparent transparent;
  border-width: 2px;
}

/* Disabled */

.bld.field.disabled .ui.header.sub,
.bld.field.disabled .ui.input,
.ui.form .bld.field.disabled .ui.header.sub,
.ui.form .bld.field.disabled .ui.input {
  opacity: 0.5;
}

.bld.field.disabled .ui.input,
.ui.form .bld.field.disabled .ui.input {
  opacity: 0.5;
}

/* Error */

.bld.field.error .ui.input input,
.ui.form .bld.field.error .ui.input input {
  border: 2px solid var(--error);
}

.bld.field.error .message,
.ui.form .bld.field.error .message {
  color: var(--error);
}


/* Address */

.bld.field.address .ui.input input,
.ui.form .bld.field.address .ui.input input {
  padding-right: 2.67142857em !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bld.field.address .bld.blockie,
.ui.form .bld.field.address .bld.blockie {
  position: absolute;
  right: 0px;
  top: 8px;
}

.bld.field.address.has-label .bld.blockie,
.ui.form .bld.field.address.has-label .bld.blockie {
  top: calc(50% - 12px);
  right: 10px;
}

.bld.field .overlay,
.ui.form .bld.field .overlay {
  position: absolute;
  bottom: 30px;
  right: 0px;
}

.bld.field .overlay .ui.button,
.ui.form .bld.field .overlay .ui.button {
  height: 44px;
}

/* Icon */

.bld.field .ui.input .icon,
.ui.form .bld.field .ui.input .icon {
  color: var(--text);
}
