.bld.blockie {
  border-radius: 6px;
  vertical-align: text-bottom;
  line-height: 0.5em;
  margin-left: 0.1em;
}

.bld.blockie.small {
  border-radius: 4px;
}

.bld.blockie.tiny {
  border-radius: 3px;
}

.bld.blockie.mini {
  border-radius: 1.5px;
}

.bld.blockie + .bld.blockie {
  margin-left: 1em;
}

.bld.blockie-wrapper .bld.blockie-children {
  margin-left: 0.5em;
}
