.bld.section {
  position: relative;
}

.bld.section.tiny {
  margin-bottom: 8px;
}

.bld.section.small {
  margin-bottom: 24px;
}

.bld.section.medium {
  margin-bottom: 32px;
}

.bld.section.large {
  margin-bottom: 48px;
}

.bld.section .ui.header.sub {
  margin-bottom: 8px;
}
