.bld.footer.fullscreen {
  margin-top: 0px;
}

.bld.footer .main-footer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
}

.bld.footer .des {    
  margin-top: 24px;
  max-width: 260px;
  line-height: 24px;
  letter-spacing: 0px;
}

.bld.footer .links .items {
  margin-left: 60px;
}

.bld.footer .links .items .title {
  color: rgba(254, 254, 254, 0.24);
  font-size: 16px;
  margin-bottom: 20px;
}

.bld.footer .main-footer .links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.bld.footer .main-footer .links a {
  color: rgba(254, 254, 254, 0.87);;
  display: block;
  font-weight: normal;
  margin-bottom: 8px;
  font-size: 13px;
}

.bld.footer .social-links {
  margin-right: 24px;
}

.bld.footer .divider {
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  margin-top: 20px;
}

.bld.footer .copyright {
  text-align: center;
  font-weight: 700;
  font-size: 13px;
  margin-top: 24px;
  color: rgba(254, 254, 254, 0.52);
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .bld.footer {
    flex-flow: column nowrap;
    margin-bottom: 12px;
  }

  .bld.footer .main-footer {
    margin-bottom: 12px;
  }
}

@media (max-width: 1024px) {
  .bld.footer {
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 48px;
    height: auto;
  }

  .bld.footer .main-footer {
    margin-bottom: 48px;
    height: auto;
  }

  .bld.footer .secondary-footer {
    flex-flow: column;
    align-items: center;
  }

  .bld.footer.fullscreen {
    padding: 20px 0px;
  }
}