.bld.page {
  position: relative;
  padding: 0px 0px;
  min-height: calc(
    100vh - var(--navbar-height) - var(--footer-height) -
      var(--navbar-margin-bottom) - var(--footer-margin-top) - 1px
  );
}

.bld.navbar.fullscreen + .bld.page {
  min-height: calc(
    100vh - var(--navbar-height) - var(--footer-height) -
      var(--footer-margin-top) - 1px
  );
}

.bld.navbar.fullscreen + .bld.page.fullscreen {
  min-height: calc(100vh - var(--navbar-height) - var(--footer-height) - 1px);
}

.bld.navbar.fullscreen + .bld.tabs + .bld.page.bld.page.fullscreen {
  min-height: calc(
    100vh - var(--navbar-height) - var(--tabs-height) -
      var(--tabs-margin-bottom) - var(--footer-height) - 1px
  );
}

.bld.navbar.fullscreen + .bld.tabs.fullscreen + .bld.page.bld.page.fullscreen {
  min-height: calc(
    100vh - var(--navbar-height) - var(--tabs-height) - var(--footer-height) -
      1px
  );
}

@media (max-width: 768px) {
  .bld.page {
    padding: 0px 0px 48px 0px;
  }
  .bld.page.fullscreen {
    padding: 0px;
  }
  .bld.navbar.fullscreen + .bld.page.fullscreen {
    min-height: calc(
      100vh - var(--navbar-height) - var(--footer-height) -
        var(--footer-margin-top) - 1px
    );
  }
}
