.Page-story-container {
  position: relative;
  border: 1px solid var(--divider);
  overflow: auto;
  width: 1196px;
  height: 450px;
}

.Page-story-container .bld.hero {
  background: var(--luisxvi-violet);
}

.Page-story-container .bld.hero .ui.header {
  color: white;
}

.bld.page.table-story .ui.table .bld.atlas {
  margin-top: -22px;
  border-radius: 8px;
  overflow: hidden;
}
