.bld.login-modal {
  width: 520px;
}

.bld.login-modal .bld.option {
  width: 360px;
  height: 80px;
  box-shadow: var(--shadow-1);
  border-radius: 8px;
  border: var(--outline);
  background-color: var(--card-on-modal);
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.bld.login-modal .bld.option:hover {
  background-color: var(--secondary-on-modal-hover);
}

.bld.login-modal .bld.option .image {
  flex: none;
  width: 64px;
  height: 64px;
  background-position: center;
  background-size: contain;
}

.bld.option.metamask .image {
  background-image: inline('../../images/metamask.svg');
}

.bld.option.dapper .image {
  background-image: inline('../../images/dapper.png');
}

.bld.option.fortmatic .image {
  background-image: inline('../../images/fortmatic.png');
}

.bld.option.wallet-connect .image {
  background-image: inline('../../images/wallet-connect.png');
}

.bld.option.samsung-blockchain-wallet .image {
  background-image: inline('../../images/samsung-blockchain-wallet.svg');
}

.bld.option.coinbase .image,
.bld.option.wallet-link .image {
  background-image: inline('../../images/coinbase.svg');
}

.bld.login-modal .bld.option .info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.bld.login-modal .bld.option .info .title {
  font-weight: bold;
  color: var(--text);
}

.bld.login-modal .bld.option .info .subtitle {
  color: var(--secondary-text);
  margin-top: 4px;
}

.bld.login-modal .bld.option + .bld.option {
  margin-top: 16px;
}

.bld.login-modal .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;
}

.bld.login-modal .message {
  margin-top: 28px;
  text-align: center;
  display: block;
  color: var(--text);
  line-height: 1.5;
  opacity: 0.9;
}

.bld.login-modal .error {
  opacity: 0;
  user-select: none;
  color: var(--primary);
  margin: 20px 0;
  text-align: center;
}

.bld.login-modal .error.visible {
  transition: opacity 0.25s ease;
  opacity: 1;
  user-select: auto;
}

.bld.login-modal .loader-background {
  height: 100%;
  width: 100%;
  background-color: var(--background);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
